@import "tailwindcss";

:root {
  --background: #DFD4CA;
  --foreground: #202120;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202120;
    --foreground: #DFD4CA;
  }
}

div {
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
